*{
    background-color: rgb(190, 180, 180);
}
.button{
    padding: 20px;
    margin: 0px 3px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    width: 66px;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(190, 180, 180);
    border: 2px solid black;
    border: none;
}
.text{
    background-color: white;
    width: 330px;
    height: 45px;
    border-radius: 6px;
    align-content: center;
    display: flex;
    justify-content: center;
    margin-left: 510px;
}
.row{
    margin: 6px 6px;
    
}
.row button{
    font-size: 22px;
    background-color: black;
    color: white;  
}
.row .button2{
    background-color: #007AFF;
    width: 71px;
    height: 71px;
    border-radius: 8px;
    
}
.row .button1{
    background-color: rgb(204, 17, 17);
    width: 71px;
    height: 71px;
    border-radius: 8px;
    
}
.row button:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.row button:active {
    transform: scale(0.95);
}
.input{
        /* padding: 10px 38px; */
    width: 270px;
    padding: 12px;
    /* margin: 0; */
    font-size: 22px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    color: black;
}
